<a href="https://colab.research.google.com/github/vinujosephtoby/My-Python-project/blob/main/Python_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. A financial analyst stores monthly revenues in a list: [120000, 135000, 128000,
142000, 150000]. Find the difference between the highest and lowest revenue without
using loops.

In [ ]:
 rev= [120000, 135000, 128000, 142000, 150000]
 diff=max(rev)-min(rev)
 print(diff)

30000

2. Given the tuple account = ('Asha', 'Savings', 56000, 'KCH'), unpack the values into
separate variables and print a formatted string: 'Asha has ₹56000 in her Savings
account (Branch: KCH)'.

In [ ]:
account = ('Asha', 'Savings', 56000, 'KCH')
name,typeacc,bal,branch=account
print(f"{name} has ₹{bal} in her {typeacc}account(Branch:{branch})")

Asha has ₹56000 in her Savingsaccount(Branch:KCH)

3. Convert the list of string numbers ['45000', '56000', '38000'] to integers and find
their average balance.

In [ ]:
 string_numbers = ['45000', '56000', '38000']
 num=list(map(int,string_numbers))
 avg=sum(num)/len(num)
 print(f"their average balance {avg}")

their average balance 46333.333333333336

4. Create a list with elements: ['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']. Replace
'Delhi' with 'Hyderabad' and print the new list in reverse order using slicing.

In [ ]:
elements= ['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']
elements[3]= 'Hyderabad'
print(elements[::-1])

['Pune', 'Hyderabad', 'Mumbai', 'Chennai', 'Kochi']

5. You have two tuples: interest_2024 = (7.1, 7.3, 7.2) and interest_2025 = (7.4, 7.5).
Combine them and print the average of all interest rates.

In [ ]:
interest_2024 = (7.1, 7.3, 7.2)
interest_2025 = (7.4, 7.5)
all=interest_2024+interest_2025
avg=sum(all)/len(all)
print(f"the average of {avg}")

the average of 7.3

6. A string variable branch_id = 'TVM-FIN-2025'. Extract the branch code (first three
letters) and the year (last four digits).

In [ ]:
branch_id = 'TVM-FIN-2025'
id=branch_id[:3]
yr=branch_id[-4:]
print (f" the branch code {id} and the year {yr}")

 the branch code TVM and the year 2025

7. Create a list transactions = [10000, -2000, 5000, -1500, 3000]. Without using loops,
find total deposits and withdrawals using list slicing or indexing only

In [ ]:
transactions = [10000, -2000, 5000, -1500, 3000]
dep=sum([transactions[0],transactions[2],transactions[4]])
wid=sum([transactions[1],transactions[3]])
print (f"deposits {dep} withdrawals {wid}")

deposits 18000 withdrawals -3500

8. Given name = 'John Doe' and balance = 72500, print a message in title case stating
'John Doe has a balance of ₹72500'. Ensure no type errors occur.

In [ ]:
name = 'John Doe'
bal = 72500
print (f"{name} has a balance of ₹{bal}")

John Doe has a balance of ₹72500

9. A tuple customer = ('Kiran', 'Loan', 80000, 7.5). Calculate and print the total amount
payable after 1 year if interest is simple interest based on rate 7.5%

In [ ]:
customer = ('Kiran', 'Loan', 80000, 7.5)
sim=customer[2]*(1+customer[3]/100)
print(f" total amount payable {sim}")

 total amount payable 86000.0

10. Create two lists – branches = ['Kochi', 'Chennai', 'Mumbai'] and profits = [120000,
95000, 134000]. Form a new list of tuples pairing each branch with its profit.

In [ ]:
branches = ['Kochi', 'Chennai', 'Mumbai']
Profit = [120000, 95000, 134000]
li= [(branches[0],Profit[0]),(branches[1],Profit[1]),(branches[2],Profit[2])]
print(f"{li}")

[('Kochi', 120000), ('Chennai', 95000), ('Mumbai', 134000)]

11. From a list salaries = [45000, 56000, 38000, 62000, 54000], extract the top three
salaries using slicing only

In [ ]:
sal =[45000, 56000, 38000, 62000, 54000]
sal.sort()
sal.reverse()
sal[0:3]

[62000, 56000, 54000]

12. Given the tuple exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9), convert it into a list
and change the third value to 84.0.

In [ ]:
exchange_rates = [83.2, 83.1, 83.5, 83.0, 82.9]
exchange_rates[2]= '84.0'
print(exchange_rates[::])

[83.2, 83.1, '84.0', 83.0, 82.9]

13. Combine two lists customer_names = ['Asha', 'John', 'Meera'] and balances = [56000,
72000, 65000] into a formatted string such as 'Asha:56000, John:72000, Meera:65000'
without loops.

In [ ]:
cus_name =['Asha', 'John', 'Meera']
Bal= [56000, 72000, 65000]
li=[(cus_name[0],Bal[0]),(cus_name[1],Bal[1]), (cus_name[2],Bal[2])]
print(f"{li}")

[('Asha', 56000), ('John', 72000), ('Meera', 65000)]